body {
box-sizing: border-box;
margin: 0;
padding: 0;
vertical-align: top;
}
body {
    font-family: montserrat, sans-serif; 
    width: 1440px;
    height: 906px;
    background-color: var(--main-back-color);
    display: block;
}
.header {
    width: 100px;
    height: 906px;
    background-color: var(--hover-back-color);
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}
.header-logo {
    width: 68px;
    height: 34px;
    margin-top: 52px;
    display: block;
}
.line {
    width: 63px;
    height: 2px;
    display: block;
    background-color: var(--icon-color);
    margin-top: 24px;
}
.nav-home-icons {
    margin-top: 34px;
    font-size: 25px;
    width: 89px;
    height: 57px;
    line-height: 56px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    align-self: flex-end;
    border-radius: 25px 0px 0px 25px;
    color: var(--home-icon-color);

}
.nav-icons {
    margin-top: 34px;
    display: block;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-size: 23px;
    line-height: 25px;
    color: var(--icon-color);
}
.gamepad-icons {
    width: 40px;
    font-size: 38px;
}